@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Ultimate Brodown</h2>
        <ul>
            <li>We got floatyy bois and guns.</li>
            <li>Why are you still reading? Download the game <a asp-page="/Download">here!</a></li>
        </ul>
    </div>
  
</div>
